* {
  --main-color: #f1f1f1;
  --secondary-color: #ebebeb;
  --card-text-color: rgba(240, 240, 240, 0.85);
  --black-trans-color: rgba(58, 58, 58, 0.5);
  --black-color: #3a3a3a;
  --black-alt-color: #272727;
  --gray-color: #575757;
  --green-trans-color: rgba(108, 184, 78, 0.5);
  --green-color: #6cb84e;
  --green-alt-color: #5eaa3f;
  --red-trans-color: rgba(247, 89, 84, 0.5);
  --red-color: #f75954;
  --red-alt-color: #e23e39;
}

h1 {
  font-weight: 400;
  font-size: 1.8rem;
}

h2 {
  font-weight: 300;
  font-size: 1.4rem;
}

h3 {
  font-weight: 300;
  font-size: 1.2rem;
}

body {
  font-size: 10px;
  color: var(--black-color);
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  background-color: #99ffdf;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(240)'%3E%3Cstop offset='0' stop-color='%2399ffdf'/%3E%3Cstop offset='1' stop-color='%23c2884c'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-areas:
    "Main History";
  height: 100vh;
}

.Main {
  grid-area: Main;
  display: grid;
  grid-template-rows: 15% 1fr 10%;
  justify-items: center;
  align-items: center;
}

.Main--header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-row {
  margin-bottom: 4px;
}

.primary {
  font-weight: 400;
}

.date {
  font-weight: 200;
  font-size: 1.2rem;
}

.Main--header h1, .Main--header h2, .Main--header h3 {
  display: inline;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.Main form {
  display: grid;
  grid-template-rows: 70% 30%;
  width: 80%;
  height: 140px;

}

.Main input, .Main .complete-msg {
  font-size: 2rem;
  height: 70px;
  color: var(--gray-color);
  border: none;
}

.Main input {
  border-bottom: 2px solid var(--gray-color);
  resize: none;
  text-align: center;
  background-color: rgba(0,0,0,0);
  outline: none;
}

.Main input:focus {
  border-bottom-color: var(--black-color);
}

::placeholder {
  color: var(--gray-color);
}

.Main .complete-msg {
  height: 50px;
}

.Main .complete-msg p {
  margin: auto;
}



button {
  background-color: var(--black-color);
  border: none;
  color: white;
  text-decoration: none;
  margin: 4px 2px;
  height: 45px;
  cursor: pointer;
}

form .btn-container {
  display: flex;
  justify-content: center;
}

.Main .btn-large {
  width: 98px;
}

.Main .btn-small {
  width: 45px;
  font-size: 1.4rem;
}

.btn-set:hover {
  background-color: var(--black-alt-color);
}

.btn-x:hover {
  background-color: var(--red-color);
}

.btn-chk {
  background-color: var(--green-color);
}

.btn-chk:hover {
  background-color: var(--green-alt-color);
}

.quote {
  font-style: italic;
  font-weight: 200;
}

/* HISTORY */
.History {
  color: var(--card-text-color);
  grid-area: History;
  display: grid;
  grid-template-rows: 10% 1fr;
  background-color: rgba(0,0,0,0.25);
}

.History--header {
  display: grid;
}

.History .menu-btn {
  display: none;
}

.History-filler {
  color: rgba(231, 231, 231, 0.75);
  text-align: center;
  font-size: 1rem;
  font-weight: 100;
}

.History h2 {

  text-align: center;
  align-self: center;
}

.History--main {
  overflow-y: scroll;
}

.Card {
  border: 5px solid var(--black-color);
  width: 85%;
  height: 100px;
  margin: 0 auto 15px auto;
  overflow: hidden;
	position: relative;
}

.CardMain {
  display: grid;
  grid-template-columns: 80% 20%;
  background-color: rgba(0, 0, 0, 0.65);
  height: 100%;
}


.CardMain--textbox {
  align-self: center;
  /* color: var(--card-text-color); */
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0.5rem 0.8rem;

}

.CardMain--date {
  /* color: var(--card-text-color); */
  justify-self: right;
  align-self: flex-end;
  margin: .5rem;
}

.CardHover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black-color);
  color: var(--card-text-color);
  position: absolute;
	height: 100%;
  width: 100%;
  bottom: -100%;
  left: 0;
	transition: bottom 0.3s ease;
}

.CardHover > * {
  margin: 0 1rem;
}

.CardHover h2 {
  color: var(--card-text-color);
  font-size: 1.5rem;
}

.CardHover button {
  border: none;
  height: 2.8rem;
  width: 2.8rem;
}

.Card:hover .CardHover {
  bottom: 0%;
}

@media (max-width: 1080px) {
  .Main input {
    font-size: 1.6rem;
  }

  .CardHover h2 {
    font-size: 1.4rem;
  }

  .CardHover--btn-container {
    margin: 8px;
  }

  .CardHover button {
    height: 2.2rem;
    width: 2.2rem;
  }
}

@media (max-width: 900px) {
  .CardHover h2 {
    font-size: 1rem;
  }

  .CardHover button {
    height: 2rem;
    width: 2rem;
  }
}

@media (max-width: 768px) {
  .App {
    grid-template-columns: 1fr;
    grid-template-rows: 100vh 90vh;
    grid-template-areas:
      "History"
      "Main";
  }

  .Main {
    position: absolute;
    grid-template-rows: 10% 1fr 10%;
    top: 10vh;
    height: 90vh;
    width: 100vw;
  }

  .Main h1 {
    display: none;
  }

  .History {
    z-index: 1;
  }


  .History .menu-btn {
    width: 2.4rem;
    height: 2.4rem;
    justify-self: center;
    align-self: center;
    background: rgba(0,0,0,0);
    outline: none;
    display: initial;
    margin-left: 30px;
  }

  .History--header {
    display: grid;
    grid-template-columns: 10% 1fr 8%;
    height: 10vh;
  }

  .History h1 {
    color: var(--card-text-color);
    align-self: center;
    text-align: center;
  }

  .Card {
    width: 80%;
  }

  .CardHover h2 {
    font-size: 1.5rem;
  }

  .CardHover--btn-container {
    margin: 16px;
  }

  .CardHover button {
    height: 2.8rem;
    width: 2.8rem;
  }
}

@media (max-width: 600px) {
  .Main form {
    height: 100px;
    grid-template-rows: 50% 50%;
  }

  .Main input {
    font-size: 1.15rem;
    height: 45px;
  }

  .Main .btn-set {
    height: 40px;
    width: 90px;
  }
}