* {
  --main-color: #f1f1f1;
  --secondary-color: #ebebeb;
  --black-color: #3a3a3a;
  --black-alt-color: #272727;
  --gray-color: #757575;
  --green-color: #6cb84e;
  --green-alt-color: #5eaa3f;
  --red-color: #f75954;
  --red-alt-color: #e23e39;
}

h2 {
  font-weight: 300;
  font-size: 1.4rem;
}

body {
  font-size: 10px;
  color: var(--black-color);
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-areas:
    "Main History";
  height: 100vh;
}

.Main {
  grid-area: Main;
  display: grid;
  grid-template-rows: 10% 1fr 10%;
  justify-items: center;
  align-items: center;
  background-color: var(--main-color);
}

.Main h2 {

}

.Main form {
  display: grid;
  grid-template-rows: 70% 30%;
  width: 80%;
  height: 140px;

}

.Main input, .Main .complete-msg {
  font-size: 2rem;
  height: 70px;
  color: var(--gray-color);
  border: none;
}

.Main input {
  border-bottom: 2px solid var(--gray-color);
  resize: none;
  text-align: center;
  background-color: var(--main-color);
  outline: none;
}

.Main input:focus {
  border-bottom-color: var(--black-color);
}

.Main .complete-msg {
  height: 50px;
}

.Main .complete-msg p {
  margin: auto;
  /* display: inline-block;
  vertical-align: middle; */

}



button {
  background-color: var(--black-color);
  border: none;
  color: white;
  text-decoration: none;
  margin: 4px 2px;
  height: 45px;
  cursor: pointer;
}

form .btn-container {
  display: flex;
  justify-content: center;
}

.Main .btn-large {
  width: 98px;
}

.Main .btn-small {
  width: 45px;
  font-size: 1.4rem;
}

.btn-set:hover {
  background-color: var(--black-alt-color);
}

.btn-x:hover {
  background-color: var(--red-color);
}

.btn-chk {
  background-color: var(--green-color);
}

.btn-chk:hover {
  background-color: var(--green-alt-color);
}

.quote {
  font-style: italic;
  font-weight: 200;
}

/* HISTORY */
.History {
  grid-area: History;
  display: grid;
  grid-template-rows: 10vh 1fr;
  background-color: var(--secondary-color);
}

.History--header {
  display: grid;
}

.History .menu-btn {
  display: none;
}

.History h2 {
  text-align: center;
  align-self: center;
}

.History--main {
  overflow-y: scroll;
}

.Card {
  border: 1px solid var(--black-color);
  width: 85%;
  height: 100px;
  margin: 0 auto 15px auto;
  overflow: hidden;
	position: relative;
}

.CardMain {
  display: grid;
  grid-template-columns: 80% 20%;
  background-color: var(--main-color);
  height: 100%;
}


.CardMain--textbox {
  align-self: center;
  color: var(--gray-color);
  font-size: 1.5rem;
  /* font-size: ; */
  font-weight: 400;
  margin: 0.5rem 0.8rem;

}

.CardMain--date {
  justify-self: right;
  align-self: flex-end;
  margin: .5rem;
}

.CardHover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black-color);
  color: var(--main-color);
  position: absolute;
	height: 100%;
  width: 100%;
  bottom: -100%;
  left: 0;
	transition: bottom 0.3s ease;
}

.CardHover > * {
  margin: 0 1rem;
}

.CardHover h2 {
  color: var(--main-color);
  font-size: 1.5rem;
}

.CardHover button {
  border: none;
  height: 2.8rem;
  width: 2.8rem;
}

.CardHover button:hover {

}

.Card:hover .CardHover {
  bottom: 0%;
}


@media (max-width: 768px) {
  .App {
    grid-template-columns: 1fr;
    grid-template-rows: 100vh 90vh;
    grid-template-areas:
      "History"
      "Main";
  }

  .Main {
    position: absolute;
    top: 10vh;
    height: 90vh;
    width: 100vw;
  }

  .History {
    /* overflow-; */
    z-index: 1;
  }


  .History .menu-btn {
    width: 2.4rem;
    height: 2.4rem;
    justify-self: center;
    align-self: center;
    background: rgba(0,0,0,0);
    outline: none;
    display: initial;

  }

  .History--header {
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    height: 10vh;
  }

  .Card {
    width: 80%;
  }
}